.react-aria-Tooltip {
  border-radius: 0.25rem;
  background: #fb923c;
  color: #431407;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px;
  forced-color-adjust: none;
  outline: none;
  padding: 0.125rem 0.5rem;
  max-width: 10rem;
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);
  transition:
    transform 200ms,
    opacity 200ms;

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement='top'] {
    margin-bottom: 0.75rem;
    --origin: translateY(0.375rem);
  }

  &[data-placement='bottom'] {
    margin-top: 0.75rem;
    --origin: translateY(-0.375rem);
    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    margin-left: 0.75rem;
    --origin: translateX(-0.375rem);
    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement='left'] {
    margin-right: 0.75rem;
    --origin: translateX(0.375rem);
    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  & .react-aria-OverlayArrow svg {
    display: block;
    fill: #fb923c;
  }
}
